<!--头部-->
{include file="common/top"}
    <div class="wrap">
        <div class="site"><a title="首页" href="{:url('index/index/index')}">首页</a>&gt;<a
                href="{:url('index/lawyer/lawyer')}" title="专业团队">专业团队</a>&gt;<span class="">正文</span>
        </div>
        <div class="main-title cf">
            <h2 class="title" id="lsxz">律师信息</h2>
        </div>
        <div class="tuandui_main">
            <div class="tuandui_main_pic cf">
                <div class="mengbing">
                    <img src="{$lawyerdata.business_img}" height="438" width="335" alt="田文昌">
                </div>
                <div class="jianjie">
                    <h3>{$lawyerdata.business_name}</h3>
                    <div class="lianxi">
                        {$lawyerdata.business_content}
                    </div>
                    <div class="weibo" style="display:none;">
                        <a href="javascript:;">
                            个人官微</a>
                        <img src="./teamdata_files/error.png">

                    </div>
                </div>
            </div>
        </div>
        <div class="lawyer-conbot cf">
            <div class="specific">
                <div class="zong experience" style="display:block;">
                    <div class="hd">
                        <h4>工作经验</h4>
                    </div>
                    <div class="bd edit_con_original">
                        <p>
                        </p>
                        <div class="edit-con-original">
                            {$lawyerdata.business_gzjy}
                        </div>
                        <p></p>
                    </div>
                </div>

                <div class="zong achieve" style="display:none;">
                    <div class="hd">
                        <h4>工作业绩</h4>
                        <a href="javascript:;" class="click two">-</a>
                    </div>
                    <div class="bd">
                        <div class="edit-con-original">
                            <ul>
                                <li>
                                    天津大邱庄被害人控告禹作敏案
                                </li>
                                <li>
                                    辽宁沈阳刘涌黑社会犯罪案
                                </li>
                                <li>
                                    原云南省省长李嘉廷受贿案
                                </li>
                                <li>
                                    原福布斯第二富豪杨斌合同诈骗等案
                                </li>
                                <li>
                                    原证监会官员王小石受贿案
                                </li>
                                <li>
                                    黄光裕非法经营等案
                                </li>
                                <li>
                                    颜立燕合同诈骗与挪用资金案
                                </li>
                                <li>
                                    大同市原副市长王雁峰受贿案
                                </li>
                                <li>
                                    广州市花都区原副区长潘潇受贿案
                                </li>
                                <li>
                                    台商程镇捷被控职务侵占案
                                </li>
                                <li>
                                    81名乘客诉西北航空公司误机索赔集团诉讼案
                                </li>
                                <li>
                                    南京华夏实业有限公司应诉新华日报社巨额侵权赔偿案
                                </li>
                                <li>
                                    鞍山钢铁公司诉辽阳三联钢管有限公司亿元人民币购销合同纠纷案
                                </li>
                                <li>
                                    国海、华鑫、华龙证券公司证券买卖纠纷案
                                </li>
                                <li>
                                    东方资产管理公司贷款纠纷案
                                </li>
                                <li>
                                    太原钢铁集团有限公司股权纠纷案
                                </li>
                                <li>
                                    中国航空结算中心、北京海洋馆、大港油田、山西宇晋钢铁有限公司等多家公司法律顾问
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="zong other" style="display:none;">
                    <div class="hd">
                        <h4>其他</h4>
                        <a href="javascript:;" class="click three">-</a>
                    </div>
                    <div class="bd">

                        <dl>
                            <dt>社会职务</dt>
                            <dd>中华全国律协刑事业务委员会 主任</dd>
                            <dd>中国审判理论研究会常务理事</dd>
                            <dd>中国法学会刑法学研究会常务理事</dd>
                            <dd>北京市法学会刑法学研究会副会长</dd>
                            <dd>中国行为法学会常务理事</dd>
                            <dd>中国行为法学会法律语言研究会副会长</dd>
                            <dd>北京市法学会理事</dd>
                            <dd>中国人才研究会经济人才专业委员会副会长</dd>
                            <dd>中国政法大学兼职教授</dd>
                            <dd>北京大学兼职教授</dd>
                            <dd> 清华大学兼职教授</dd>
                            <dd>社科院法学所兼职教授</dd>
                            <dd>国家检察官学院兼职教授</dd>
                            <dd>中国人民大学律师学院兼职教授</dd>
                            <dd>西北政法大学刑事法律学院名誉院长</dd>
                            <dd>吉林大学兼职教授</dd>
                            <dd>点睛网络律师学院专家委员会委员兼高级培训师</dd>
                            <dd>大连仲裁委员会仲裁员</dd>
                            <dd>中小企业合作国际促进会特约顾问</dd>
                            <dd>美国刑事辩护律师协会“终身荣誉会员”</dd>
                        </dl>
                        <dl>
                            <dt>荣誉奖项</dt>
                            <dd>1996年 获北京市司法局首届“北京市十佳律师”称号</dd>
                            <dd>1996年 获北京市司法局第二届“北京市优秀律师”称号</dd>
                            <dd>2005年 获中华全国律师协会“为律师行业管理工作做出无私奉献奖”</dd>
                            <dd>2005年 法制日报社“2005年度法制新闻人物”称号 法制早报、Lenews法薪传媒“首届中国律师风云榜特殊贡献奖”</dd>
                            <dd>2008年 新浪联播网 全球杰出华人</dd>
                            <dd>2010年 北京市百名优秀刑辩律师</dd>
                            <dd>2013年《亚洲法律评论》2013年度中国十佳诉讼律师</dd>
                            <dd>2013年中央电视台年度十大法治人物</dd>
                        </dl>
                        <dl>
                            <dt>教育背景</dt>
                            <dd> 1983年获西北政法大学首届法学硕士学位</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<!--头部-->
{include file="common/bottom"}


