<!--    head-->
{include file="common/head"}
<!--    栏目-->
{include file="common/column"}

<script type="text/javascript">
    function f1() {
        $(".nav_bg .c_wrap .nav ul li a").removeClass('one');
        $(".nav_bg .c_wrap .nav ul li:eq(3) a").addClass('one');
    }
    f1();
</script>

<div class="header_c2"></div>


<div class="lm_name">
    <div class="c_wrap">专业团队</div>
</div>
<div class="lm_pic lm_pic_nonav" style="background-image: url(__INDEX__/images/lawyer.jpg)">

    <div class="c_wrap">
        <div class="in_txt in_txt1"><span><h2>专业团队</h2><b>Professionals</b></span></div>
    </div>
</div>
<!--内容-->
<div class="main">
    <div class="ry_zzy">
        <div class="wrap">
            <div class="go go_ry"></div>
            <div class="con">
                <div class="con_top">
                    <div class="tit">{$lawyerdata.business_name}</div>
                    <div class="tit2"><span class="bgs">龙岗分所</span></div>
                    <div class="clear"></div>
                </div>
                <div class="con_left">
                    <div class="img"><img src="{$lawyerdata.business_img}"></div>
                    <div class="nr_r">
                        <ul>
                            <li class="li1">电　　话：{$lawyerdata.business_phone}</li>
                            <li class="li2">传　　真：{$lawyerdata.business_fax}</li>
                            <li class="li3">邮　　箱：<a href="">{$lawyerdata.business_gmail}</a></li>
                            <li class="li5">工作语言： {$lawyerdata.business_Language}</li>
                            <li class="li6">专业领域：
                                <span>
                                    <a href="/Practices/Dispute_Resolution/">争议解决</a>
                                    <a href="/Practices/Investment_Mergers_and_Acquisitions/">投资并购</a>
                                    <a href="/Practices/Real_Estate_and_Construction/">房地产与建筑工程</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="con_cen">
                    <div class="txt txt_one">
                        {$lawyerdata.business_content}
                    </div>
                    <div class="h2"><span>工作经历与教育背景</span></div>
                    <div class="txt">
                        {$lawyerdata.business_gzjy}
                    </div>
                    <div class="h2"><span>专业领域</span></div>
                    <div class="txt">
                        <ul>
                            <li>
                                争议解决
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->

{include file="common/bottom"}