<!--    head-->
{include file="common/head"}
<!--    栏目-->
{include file="common/column"}

<script type="text/javascript">
    function f1() {
        $(".nav_bg .c_wrap .nav ul li a").removeClass('one');
        $(".nav_bg .c_wrap .nav ul li:eq(3) a").addClass('one');
    }
    f1();
</script>

<div class="header_c2"></div>


<div class="lm_name">
    <div class="c_wrap">专业团队</div>
</div>
<div class="lm_pic lm_pic_nonav" style="background-image: url(__INDEX__/images/lawyer.jpg)">

    <div class="c_wrap">
        <div class="in_txt in_txt1"><span><h2>专业团队</h2><b>Professionals</b></span></div>
    </div>
</div>
<!--内容-->
<div class="main">
    <div class="td_part2">
        <div class="wrap">
            <div class="SYCms_Tem_PageList_15">
                <div class="list">
                    <ul class="cf">
                        {volist name='lawyer' id='v'}
                            <li>
                                <a href="{:url('/lawyers/','','')}{$v.id}.html" class="tr_sc" target="_blank">
                                    <dl>
                                        <dt><img src="{$v.business_img}"></dt>
                                        <dd><b>{$v.business_name}</b><i>龙岗分所</i></dd>
                                    </dl>
                                </a>
                            </li>
                        {/volist}
                    </ul>
                    <div class="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
{include file="common/bottom"}