<!--头部-->
{include file="common/top"}
    



<div class="lawyer-bg">

    <span class="photo"><img src="" alt=""/></span>
    <p class="name">成安</p>
    <div class="bq">
                <span>首席律师</span>
                <span>刑辩专家</span>
                <span>博士学位</span>
    </div>
</div>



<div class="lawyer-info bg-fff mt10">
    <div class="plr15">
        <div class="tit-nav tit-nav-borb">
            <h2>个人简介</h2>
        </div>
    </div>
    <div class="lr-ovh">
        <div class="law-intro"><p style="margin-top: 0px; margin-bottom: 32px; padding: 0px; line-height: 36px; color: rgb(43, 43, 43); font-family: 微软雅黑; white-space: normal; background-color: rgb(255, 255, 255);">成安，男，四川大学法学院博士，师从中国十大杰出青年法学家左卫民教授。为你辩护网——四川刑事律师站首席律师。成安律师从业十余年，专注刑事辩护和刑事法律风险防控，承办了几百件刑事案件，积累了丰富的刑事办案经验，办理诸多大案要案，并指导了团队上千刑事案件，积累了丰富的刑事案件办案经验。他只做刑事案件，是业界享有卓越声誉的“专业刑事律师”。在办案过程中，注重对细节的关注，注重从证据入手，注重与当事人的沟通。有口皆碑的职业道德和驾轻就熟的职业技能铸就了良好的职业形象，赢得了当事人和同行的尊重和认可。从学士、到硕士、到博士的专业学历背景更是凝聚了丰富的人脉资源。在解决问题的方式上，力求多方资源整合，多元化解决纠纷的思路，从而达到当事人合法权益的最大化。</p><p style="margin-top: 0px; margin-bottom: 32px; padding: 0px; line-height: 36px; color: rgb(43, 43, 43); font-family: 微软雅黑; white-space: normal; background-color: rgb(255, 255, 255);">参与讲座和培训数百场，每年进行大量的授课和演讲。为律师同行进行业务培训，为法律共同体全省经侦人员进行培训，为企业家进行法律意识培训，为公职人员进行刑事风控培训，主办及参与大量刑事辩护论坛并做主题演讲。</p><p><br/></p></div>
    </div>
        <div class="more-btn-block">展开更多</div>
</div>

    <!--相册-->
    <!--<div class="bg-fff mt10 mien-box">-->
        <!--<div class="tit-nav tit-nav-borb">-->
            <!--<h2>个人风采</h2>-->
        <!--</div>-->
        <!--<div class="drag-scroll-bar lawyer-mien">-->
            <!--<div class="my-gallery drag-scroll-nr">-->
                    <!--<figure class="drag-src-item">-->
                        <!--<a href="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/b41a9f8f-4bf7-43e3-8058-32fef9383011.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" data-size="300x300" data-id="105"><img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/b41a9f8f-4bf7-43e3-8058-32fef9383011.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="Image description" /></a>-->
                    <!--</figure>-->
                    <!--<figure class="drag-src-item">-->
                        <!--<a href="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/c0d16f43-863c-449a-b465-4ca06a22e90c.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" data-size="300x300" data-id="104"><img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/c0d16f43-863c-449a-b465-4ca06a22e90c.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="Image description" /></a>-->
                    <!--</figure>-->
                    <!--<figure class="drag-src-item">-->
                        <!--<a href="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/ac773fb2-3e62-4368-af6d-077110193d91.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" data-size="300x300" data-id="103"><img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/ac773fb2-3e62-4368-af6d-077110193d91.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="Image description" /></a>-->
                    <!--</figure>-->
                    <!--<figure class="drag-src-item">-->
                        <!--<a href="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/4125e2ed-4649-4f38-b2e5-4d06dda7c32b.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" data-size="300x300" data-id="102"><img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/4125e2ed-4649-4f38-b2e5-4d06dda7c32b.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="Image description" /></a>-->
                    <!--</figure>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="bg-fff mt10 plr15 pb15">
        <div class="tit-nav tit-nav-borb">
            <h2>最近动态</h2>
            <a href="1/dt/default.htm" class="more-btn fr">more<i class="ico-pd i-pd44"></i></a>
        </div>
        <div class="dt-ovh">
            <div class="bg"></div>
            <div class="dt-sroll">
                    <div class="dt-item">
                        <i class="dot"></i>
                        <a href="../badt/122341.html" class="ect">成安律师会见涉嫌非法采矿罪的X某</a>
                        <time>2018.05.29</time>
                    </div>
                    <div class="dt-item">
                        <i class="dot"></i>
                        <a href="../badt/122328.html" class="ect">成安博士、詹勇律师会见涉嫌受贿罪的X某</a>
                        <time>2018.05.24</time>
                    </div>
                    <div class="dt-item">
                        <i class="dot"></i>
                        <a href="../badt/122257.html" class="ect">成安博士为D某涉嫌徇私枉法、受贿一案出庭辩护</a>
                        <time>2018.04.18</time>
                    </div>
                    <div class="dt-item">
                        <i class="dot"></i>
                        <a href="../badt/122238.html" class="ect">成安律师为涉嫌徇私枉法、受贿罪的D某出庭辩护</a>
                        <time>2018.04.11</time>
                    </div>
            </div>
        </div>
    </div>
    <div class="bg-fff mt10 plr15">
        <div class="tit-nav tit-nav-borb">
            <h2>成功案例</h2>
            <a href="1/lsal/default.htm" class="more-btn fr">more<i class="ico-pd i-pd44"></i></a>
        </div>
        <ul class="case-list">
                <li>
                    <a href="../lsal/107610.html">
                        <h2 class="ect">是正常借款关系还是虚构债权债务侵占公司资产？  W某涉嫌职务侵占罪 成安律师、李重律师围绕争议焦点进行无罪辩护  最终取保候审</h2>
                        <div class="info"><span>职务犯罪</span><time>2015.04.28</time></div>
                    </a>
                </li>
                <li>
                    <a href="../lsal/59893.html">
                        <h2 class="ect">涉嫌非法经营，本网律师为其成功辩护为无罪</h2>
                        <div class="info"><span>无罪辩护</span><time>2012.06.08</time></div>
                    </a>
                </li>
                <li>
                    <a href="../lsal/58765.html">
                        <h2 class="ect">涉嫌“合同诈骗”潜逃多年，终被引渡归案——本网律师成安、陈武为Z某提供侦查阶段的法律帮助</h2>
                        <div class="info"><span>其他案件</span><time>2012.04.12</time></div>
                    </a>
                </li>
                <li>
                    <a href="../lsal/49959.html">
                        <h2 class="ect">盗窃罪一审被判10年有期徒刑，二审成安、艾述洪律师接受委托后，改判缓刑</h2>
                        <div class="info"><span>缓刑</span><time>2011.07.13</time></div>
                    </a>
                </li>
        </ul>
    </div>

        <div class="bg-fff mt10 plr15">
            <div class="tit-nav">
                <h2>教育经历</h2>
            </div>
            <table class="table-list" style="width: 100%;border: 0;">
                <tr>
                    <th width="30%">日期</th>
                    <th width="40%">毕业院校</th>
                    <th width="30%">学位</th>
                </tr>
                    <tr>
                        <td>1994年~1998年</td>
                        <td>西南政法大学法律系</td>
                        <td>学士学位</td>
                    </tr>
                    <tr>
                        <td>1999年~2002年</td>
                        <td>四川大学法学院/刑事诉讼法学</td>
                        <td>硕士学位</td>
                    </tr>
                    <tr>
                        <td>2008年~2012年</td>
                        <td>四川大学法学院/刑事诉讼制度</td>
                        <td>博士学位(师从中国十大杰出青年法学家左卫民教授)</td>
                    </tr>
            </table>
        </div>
        <div class="bg-fff mt10 plr15">
            <div class="tit-nav">
                <h2>工作履历</h2>
            </div>
            <table class="table-list" style="width: 100%;border: 0;">
                <tr>
                    <th width="30%">状态</th>
                    <th width="40%">任职机构</th>
                    <th width="30%">职务</th>
                </tr>
                    <tr>
                        <td>曾任</td>
                        <td>四川鼎立律师事务所</td>
                        <td>刑事业务部部长</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>西南民族大学</td>
                        <td>首席法律顾问</td>
                    </tr>
                    <tr>
                        <td>曾任</td>
                        <td>四川发现律师事务所</td>
                        <td>执行主任、高级合伙人</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>西南民族大学法学院诉讼法学教研室</td>
                        <td>教授</td>
                    </tr>
                    <tr>
                        <td>曾任</td>
                        <td>四川发现律师事务所</td>
                        <td>执行主任、高级合伙人</td>
                    </tr>
                    <tr>
                        <td>曾任</td>
                        <td>四川致高守民律师事务所</td>
                        <td>执行主任，管理合伙人</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>四川卓安律师事务所</td>
                        <td>首席律师</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>成都市政府法律顾问团</td>
                        <td>专家顾问</td>
                    </tr>
                    <tr>
                        <td>曾任</td>
                        <td>首届全国公诉人与律师电视辩论大赛</td>
                        <td>专家教练</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>四川省律师协会刑事法律专业委员会</td>
                        <td>副主任</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>成都市律师协会刑事法律专业委员会</td>
                        <td>常务副主任</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>成都仲裁委员会</td>
                        <td>委员</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>成都市高新区人民法院</td>
                        <td>特邀调解员</td>
                    </tr>
                    <tr>
                        <td>现任</td>
                        <td>成都市公安局执法监督点</td>
                        <td>联系人</td>
                    </tr>
            </table>
        </div>
            <div class="bg-fff mt10 mien-box">
                <div class="tit-nav tit-nav-borb">
                    <h2>获得荣誉</h2>
                </div>
                <div class="drag-scroll-bar lawyer-honner">
                    <ul class="drag-scroll-nr">
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/fa641a34-8641-41ff-bae9-8f766aa9be05.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/f3becc2c-c0aa-4d57-baa7-daebf65c3003.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/975c472a-8ad7-418d-8636-fb6bacf2318f.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/bae65e39-916b-493f-a93e-8a9e8451d246.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/73c7f667-94df-4f7c-8d8e-ababeb26f684.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/73ef8955-da4b-4dc6-b5c4-b92316d1c980.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/02902e71-cbf5-467f-af3b-374046496d0a.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/6cc78729-ffbf-4b90-8c97-4a3dd30fba2b.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/c8170d15-0967-496c-9648-805d339ec9a8.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/83f4a372-0cb1-4e19-9f2c-4f4e086b7b9e.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/812f3742-34e5-4898-9328-d61f3b71fc20.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/c6a35030-a36a-49e0-a66b-063c20a1e04b.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/7d4281fa-bc10-4bbb-b1de-d40124fade60.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/a479dd66-79d9-47e3-9b77-41258b3397ae.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/d3130e87-9021-43ee-a0fc-c76d96a41783.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/af9e90cb-e6c5-4769-91f9-16e15d1e7b0b.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/0dd01068-8ca2-426c-b740-0d9101486ad0.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/32185647-5a46-461a-990d-041b65fd0468.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/6b240d66-2b17-4497-9f91-a0d23b9c33da.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                            <li class="drag-src-item">
                                <img src="../../https@wnbhw-upload.oss-cn-hangzhou.aliyuncs.com/9ef47987-547c-460f-9382-c0a7f59154ee.jpg@x-oss-process=image_2fformat,jpg_2finterlace,1.jpg" alt="" />
                            </li>
                    </ul>
                </div>
            </div>
            <div class="bg-fff mt10 plr15">
                <div class="tit-nav tit-nav-borb">
                    <h2>媒体报道</h2>
                </div>
                <ul class="case-list">
                        <li>
                            <a href="javascript:;">
                                <h2 class="ect">成都“悍马醉驾撞人案”开审 蒋佳君被控两宗罪</h2>
                                <div class="info"><span>	 新华网</span><time>2017.01.18</time></div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h2 class="ect">“醉驾一律拘役”引热议 教授称打击后果太严重</h2>
                                <div class="info"><span>	 天府早报</span><time>2017.02.18</time></div>
                            </a>
                        </li>
                </ul>
            </div>

<!-- weizhi -->
<div class="weizhi">
    <a href="../default.htm">首页</a><i class="ico-pd i-pd44"></i><a href="../sichuan/default.htm">刑事律师</a><i class="ico-pd i-pd44"></i><a href="../sichuan/lstd/default.htm">列表</a><i class="ico-pd i-pd44"></i><span>详细</span>
</div>

<!-- 在线预约 -->
<div class="order-btn" id="yuyue-btn">在线预约</div>
<!-- 弹框：背景 -->
<div id="bg-black"></div>

<!-- 弹框：预约 -->
<div class="yuyue-pop" id="yuyue-popup">
    <span class="pop-close"></span>
    <ul>
        <li>
            <textarea placeholder="请简单描述你的问题" id="content"></textarea>
        </li>
        <li>
            <input type="text" name="" id="mobile" placeholder="请输入你的手机号">
        </li>
        <li class="yanzm">
            <input type="text" name="" id="code" placeholder="请输入图形验证码">
            <div class="code">
                <img src="../lawyer/getvalidatecode.jpg" onclick="this.src = '/lawyer/getvalidatecode?time=' + (new Date()).getTime();" id="imgCode" alt="点击刷新" title="点击重新获取验证码" class="yzm-btn" />
                
            </div>
        </li>
        <li class="tips"></li>
        <li><a href="javascript:;" id="subContent" class="u-btn u-btn-block">提交</a></li>
    </ul>
</div>


<!--  -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg">
    </div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item">
            </div>
            <div class="pswp__item">
            </div>
            <div class="pswp__item">
            </div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter">
                </div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)">X</button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip">
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button><button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center">
                </div>
            </div>
        </div>
    </div>
</div>

<!--尾部-->

{include file="common/bottom"}