<!--    head-->
{include file="common/head"}
<!--    栏目-->
{include file="common/column"}


<script type="text/javascript">
    function f1() {
        $(".nav_bg .c_wrap .nav ul li a").removeClass('one');
        $(".nav_bg .c_wrap .nav ul li:eq(1) a").addClass('one');
    }
    f1();
</script>

<div class="header_c2"></div>


<div class="lm_name">
    <div class="c_wrap">本所介绍</div>
</div>
<div class="lm_pic " style="background-image: url(__INDEX__/images/jsaoback.jpg)">
    <div class="nav2 nav2_li5">
        <div class="c_wrap">
            <a href="{:url('/about')}" class="one">国晖介绍</a>
            <a href="{:url('/office')}" class="">国晖办公室</a>
            <a href="{:url('/culture')}" class="">国晖文化</a>
            <a href="{:url('/office')}" class="">发展历程</a>
        </div>
    </div>
    <div class="c_wrap">
        <div class="in_txt in_txt1"><span><h2>律所介绍</h2><b>Overview</b></span></div>
    </div>
</div>
<div class="main">
    <div class="jzjjs">
        <div class="wrap">
            <div class="con">
                <div class="tit">律所介绍</div>
                <div class="con_top">
                    <div class="img"><img src="{$about.js_img}">
                    </div>
                    <div class="nr_r">
                        <ul>
                            <li class="li1">电话：{$about.phone}</li>
                            <li class="li2">传真：{$about.fax}</li>
                            <li class="li3">邮编：{$about.zipcode}</li>
                            <li class="li4">地址：{$about.address}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="con_cen">
                    <div class="txt">
                        {$about.js_content}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
{include file="common/bottom"}
