<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{$title.home_title}</title>
    <meta name="Keywords" content="{$title.seogjz}"/>
    <meta name="Description" content="{$title.seoms}"/>
    <link rel="shortcut icon" href="__INDEX__/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/css.css"/>
    <!--    <script src="Js/FrontJS.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="__INDEX__/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/z_all.js"></script>
    <!--其他文件-->
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/idangerous.swiper2.7.6.css"/>
    <link rel="stylesheet" type="text/css" href="__INDEX__/css/ui-select.css">
    <script type="text/javascript" src="__INDEX__/js/idangerous.swiper2.7.6.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/index.js"></script>
    <script type="text/javascript" src="__INDEX__/js/ui-select.js"></script>
    <link href="__INDEX__/css/perfect-scrollbar.css" rel="stylesheet">
    <script src="__INDEX__/js/jquery.mousewheel.js"></script>
    <script src="__INDEX__/js/perfect-scrollbar.js"></script>
    <script>
        //回到顶部
        $(function () {
            $('.ui-select').chosen();
            if ($(window).width() > 1002) {
                $('.in_part2 .contentHolder').perfectScrollbar();
            }
        });
    </script>
</head>
<body class="in_body_load">
<div id="loading"></div>

<div class="phone_nav">
    <div class="top">
        <a href="default.htm" class="a"><img src="__INDEX__/images/logo.png"/></a>
        <a href="#" class="but" id="phone_but"><i></i></a>
    </div>
    <!--   手机端头部 -->
    <div class="box">
        <div class="box_con">
            <ul id="phone_ul">
                <li>
                    <a href="{:url('index/index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index/about/about')}">律所介绍</a>
                    <ol>
                        <li><a href="{:url('/about')}">国晖介绍</a></li>
                        <li><a href="{:url('/office')}">国晖办公室</a></li>
                        <li><a href="{:url('/culture')}">国晖文化</a></li>
                        <li><a href="{:url('/office')}">发展历程</a></li>
                    </ol>
                </li>
                <li>
                    <a href="{:url('index/business/business')}">业务领域</a>
                </li>
                <li>
                    <a href="{:url('index/lawyer/lawyer')}">专业团队</a>
                </li>
                <li>
                    <a href="{:url('/faluzisi/22')}">新闻中心</a>
                    <ol>
                        <li><a href="{:url('/faluzisi/22')}">国晖案例</a></li>
                        <li><a href="{:url('/faluzisi/23')}">国晖动态</a></li>
                        <li><a href="{:url('/faluzisi/1')}">法律知识</a></li>
                        <li><a href="{:url('/faluzisi/14')}">法律法规</a></li>
                    </ol>
                </li>
                <li>
                    <a href="{:url('index/faluzisi/Banan')}">办案风采</a>
                </li>
                <li>
                    <a href="{:url('/contactus')}">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--PC端头部-->
<div class="header">
    <div class="in_wrap cf">
        <div class="logo"><a href="{:url('index/index/index')}"><img style="width: 247px;" src="__INDEX__/images/logo.png"/></a></div>
        <div class="nav cf">
            <ul>
                <li><a href="{:url('index/index/index')}" class="one">首页</a></li>
                <li><a href="{:url('index/about/about')}" class="">律所介绍</a></li>
                <li><a href="{:url('index/business/business')}" class="">业务领域</a></li>
                <li><a href="{:url('index/lawyer/lawyer')}" class="">专业团队</a></li>
                <li><a href="{:url('/faluzisi/22')}" class="">新闻中心</a></li>
                <li><a href="{:url('index/faluzisi/Banan')}" class="">办案风采</a></li>
                <li><a href="{:url('/contactus')}" class="">联系我们</a></li>
            </ul>
            <div class="but">
                <a href="#" class="ss" id="ss_but"></a>

                <div class="box">
                    <form action="/search/" method="get" enctype="multipart/form-data" id="top_ss_form">
                        <input class="submit" type="submit" value="" name=""/>
                        <b><input type="text" value="" name="text" placeholder="输入搜索内容..."/></b>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--内容-->
<div class="main">
    <div class="in_part1" id="in_part1">
        <ul class="swiper-wrapper">
            <li class="li swiper-slide" style="background-image: url(__INDEX__/images/105849714b838bf50.jpg)">
                <div class="wz_bg" id="wz_bg">
                    <div class="wz">
                        <div class="wz_img wz_img1"><img src="__INDEX__/images/in_lb_img4.png"/></div>
                        <div class="wz_img wz_img2"><img src="__INDEX__/images/in_lb_img5.png"/></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="arrow"><i class="arrow-left"></i><i class="arrow-right"></i></div>
        <div class="swiper_page"><b class="b1">1</b><i class="i2"></i></div>
    </div>
    <div class="in_part2">
        <div class="in_wrap">
            <div class="in_txt"><span><h2>关于我们</h2><b>About Us</b></span></div>
            <dl class="cf">
                <dt><img src=" {$jsao.js_img}"/></dt>
                <dd>
                    <div class="logo cf">
                        <b><img src="__INDEX__/images/logo.png"/></b>
                    </div>
                    <div class="tet">
                        <div class="contentHolder">
                           {$jsao.js_content}
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="in_part3">
        <div class="in_wrap">
            <div class="in_txt"><span><h2>业务领域</h2><b>Practice Areas</b></span></div>
        </div>
        <div class="con">
            <div class="in_wrap">
                <div class="part1">
                    <div class="tab_a" id="yyly_a">
                        <ul class="swiper-wrapper">
                            {volist name='homelingyu' id='v'}
                                <li class="swiper-slide">
                                    <span class="p1"><img src="{$v.bu_sylog}"/></span>
                                    <span class="p2">{$v.bu_name}</span>
                                </li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="arrow"><i class="arrow-left"></i><i class="arrow-right"></i></div>
                </div>
            </div>
            <div class="part2">

                <div class="tab_con" id="yyly_con">
                    <ul class="swiper-wrapper">
                        {volist name='homelingyu' id='v'}
                            <li class="swiper-slide">
                                <dl>
                                    <dt><a href="">
                                        <img src="{$v.bu_syimg}"/></a>
                                    </dt>
                                    <dd>
                                        <a href="{:url('/buda/','','')}{$v.id}.html" class="txt">{$v.bu_name}</a>
                                        {$v.bu_content|strip_tags|mb_substr=0,50,'utf-8'}
                                         <a href="{:url('/buda/','','')}{$v.id}.html" class="a"><i>进一步了解</i></a>
                                    </dd>
                                </dl>
                            </li>
                        {/volist}

                    </ul>
                    <div class="arrow"><i class="arrow-left"></i><i class="arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="in_part4">
        <div class="in_wrap">
            <div class="in_txt">
                <span>
                    <h2>新闻资讯</h2>
                    <b>News</b>
                </span>
            </div>
            <div class="con">
                <ul class="cf">
                    {volist name='mobilenews' id='v'}
                    <li>
                        <dl>
                            <dt>
                                <a href="{:url('/content/','','')}{$v.id}.html" class="tr_sc" target="_blank">
                                    <span><b>{$v.addtime|mb_substr=8,2,'utf-8'}</b><i>{$v.addtime|mb_substr=0,7,'utf-8'}</i></span>
                                    <img src="{$v.article_fm}"/>
                                </a>
                            </dt>
                            <dd>
                                <a href="" class="tr_sc" target="_blank">{$v.article_name}</a>
                            </dd>
                        </dl>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="in_part5" style="background-image: url(__INDEX__/images/lawyerbock.jpg);">
        <div class="in_wrap">
            <div class="in_txt in_txt1"><span><h2>专业团队</h2><b>Professionals</b></span></div>

            <div class="SYCms_Tem_PageList_15">
                <div class="list" style="text-align:center;">
                    <ul class="cf" style="">
                        {volist name='lawyer' id='v'}
                        <li>
                            <a href="{:url('/lawyers/','','')}{$v.id}.html" class="tr_sc" target="_blank">
                                <dl>
                                    <dt><img src="{$v.business_img}"></dt>
                                    <dd><b>{$v.business_name}</b><i>龙岗分所</i></dd>
                                </dl>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="in_part6">
        <div class="in_wrap">
            <div class="in_txt"><span><h2>联系我们</h2><b>Contact us</b></span></div>
            <!--PC端-->
            <div class="section3">
                <div class="dsj_list">
                    <div class="ul ul_l">
                        <div class="ul_a">

                            <a href="Overview/Offices/140933c36516bb-8.html" class="a">
                                <i></i><b>龙岗</b>
                                <dl>
                                    <dt><img src="__INDEX__/images/0000-1.png"/></dt>
                                    <dd>
                                        <div class="txt"><b>龙岗分所</b><i>LongGang</i><span>{$jsao.phone} </span></div>
                                        <div class="tet">
                                            <ul>
                                                <li>传真：{$jsao.fax}</li>
                                                <li>邮编：{$jsao.zipcode}</li>
                                            </ul>
                                            <ul>
                                                <li>地址：{$jsao.address}</li>
                                            </ul>
                                        </div>
                                    </dd>
                                </dl>
                            </a>

                        </div>
                    </div>
                    <div class="li_one">

                    </div>
                    <div class="ul ul_r">
                        <div class="ul_a">

                        </div>
                    </div>

                    <div class="dsj_l"><a href="#"></a></div>
                    <div class="dsj_r"><a href="#"></a></div>
                </div>
            </div>
            <!--移动端-->
            <div class="lxwm" id="lxwm">
                <ul class="swiper-wrapper"
                    style="width: 4875px; transform: translate3d(-375px, 0px, 0px); transition-duration: 0s; height: 350px;">
                    <li class="swiper-slide"
                        style="width: 375px; height: 350px;">
                        <a href="/Overview/Offices/Beijing/" class="a">
                            <dl>
                                <dt><img src="__INDEX__/images/0000-1.png"></dt>
                                <dd>
                                    <div class="txt">
                                        <b>龙岗分所</b><i>LongGang</i>
                                        <span>{$jsao.phone}</span>
                                    </div>
                                    <div class="tet">
                                        <ul>
                                            <li>传真：{$jsao.fax}</li>
                                            <li>邮编：{$jsao.zipcode}</li>
                                        </ul>
                                        <ul>
                                            <li>地址：{$jsao.address}</li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </a>
                    </li>
                </ul>
                <div class="arrow"><i class="arrow-left"></i><i class="arrow-right"></i></div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
{include file="common/bottom"}