
<div class="form_jl" id="form_jl" style="display: none;">
    <div class="form">
        <div class="xx">
            <a href="#" onclick="$('#form_jl').fadeOut();return false;"></a>
        </div>
        <div class="con">
            <?php session('reservepwd',rand(0000,9999).time());?>
            <form target="formparent" method="post" enctype="multipart/form-data" action="">
                <div class="in"><span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名<input required="required" type="text" value="" name="re_name" id="re_name" class="text validate[required]"></span></div>
                <div class="in"><span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话<input required="required" type="text" value="" name="re_phone" id="re_phone" class="text validate[required]"></span></div>
                <div class="in">
                    <span style="height: 165px;"><div style="width: 76px;float: left;line-height: 165px;">留&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言</div>
                        <textarea style="height: 162px;line-height: 15px;" type="text" value="" name="re_content" id="re_content" class="text validate[required]"></textarea>
                    </span>
                </div>
                <input type="hidden" id="reservepwd" value="{:session('reservepwd')}">
                <div class="in"><input class="submit" name="submit" value="提交" onclick="tijiao()" type="button"></div>
            </form>
            <iframe name="formparent" style="width:0px; height:0px; overflow:hidden;" frameborder="0"></iframe>
        </div>
    </div>
    <script type="text/javascript">
        function tijiao() {
            var re_name = $('#re_name').val();//姓名
            var re_phone = $('#re_phone').val();//电话
            var reservepwd = $('#reservepwd').val();//留言
            var re_content = $('#re_content').val();//留言

            if (re_name == '' ) {
                alert("姓名不能为空!");
                return false;
            }
            if (re_phone == '' ) {
                alert("电话不能为空!");
                return false;
            }
            if (re_phone.length > 11 ) {
                alert("电话号码错误!");
                return false;
            }
            if (re_content == '' ) {
                alert("留言不能为空!");
                return false;
            }
            if (reservepwd == '' ) {
                alert("提交错误!");
                return false;
            }
            $.ajax({
                url: "{:url('index/index/reserveadd')}",
                data: {'re_name':re_name,'re_phone':re_phone,'re_content':re_content,'reservepwd':reservepwd},
                type: 'post',
                dataType: 'json',
                success: function (date) {
                    if (date.taatus == '200') {
                        alert(date.msg);
                        return false;
                    }else {
                        alert(date.msg);
                    }
                },
                fail: function (err) {
                    alert('请求失败! 请联系管理员');
                    location.reload()
                }
            });
        }
    </script>

</div>
<div class="footer1">
    <div class="in_wrap wrap">
        <div class="logo"><img style="width: 145px;height: 45px;" src="__INDEX__/images/WechatIMG280.png"/></div>
        <div class="con con1">
            <h3>投诉电话：</h3>
            <div class="clear"></div>
            <ul>
                <li>400-809-2880</li>
            </ul>
        </div>
        <div class="con con2">
            <h3>咨询电话：</h3>
            <div class="clear"></div>
            <ul>
                <li>400-809-2880</li>
                <li>13510000110</li>
                <li>18923451628</li>
                <li>15915344981</li>
            </ul>
            <div class="qt">
                <a href="#" class="scjl" onclick="$('#form_jl').fadeIn();return false;">留言</a>
            </div>
        </div>
        <div class="ewm"><img src="__INDEX__/images/wei.jpg"/></div>
    </div>
</div>
<div class="footer2">
    <div class="in_wrap wrap">
        <div class="nav_f"><a href="privacy-statement/default.htm">隐私保护</a><span>|</span><a
                href="legal-notices/default.htm">免责声明</a></div>
        <div class="con_l">© 2017
            <p>广东国晖（龙岗）律师事务所 版权所有。粤ICP备19079848号-1</p>
            <p><a style="color: #999999;" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030702002453"><img src="__INDEX__/images/beian.png"/>粤公网安备 44030702002453号</a></p>
        </div>
        <div class="con_r">
            <!--            <p></p>-->
        </div>
    </div>
</div>
<!--回顶部-->
<div id="top"></div>
</body>
</html>
