
<footer class="footer">
    <div class="wrap">
        <div class="subnav">
            <span class="tel">全国免费咨询电话:<i> 	4008-368-966
</i></span>
            <ul class="cf">
                <li>
                    <a href="{:url('index/faluzisi/faluzisi',array('key'=>14))}" title="">法律法规 </a><span>|</span>
                </li>
                <li>
				<a href="{:url('index/about/about')}#ditu" title="">网站地图 </a><span>|</span>
                </li>
                <li>
                    <a href="{:url('index/about/about')}" title="">关于我们</a><span>|</span>
                </li>
                <li><a href="{:url('/zhun')}" title="">刑事律师</a></li>
            </ul>
            <h5>版权所有:广东国晖(广州)律师事务所</h5>
            <div style="width:300px;margin:0; padding:0px 0; font-size:12px;">
                <em style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"><a
                            href="http://beian.miit.gov.cn">粤ICP备17056427号-2</a></p>
                </em>
                <p> <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602005963" style=""><img src="__INDEX__/upload/beian.png" style=""/>粤公网安备 44010602005963号</a></p>

            </div>
            <div style="margin-top: 10px;font-size: 13px;">友情链接∶
                {volist name='chain' id='v'}
                <a href="{$v.friend_url}" target="_blank">{$v.friend_name}</a>
                {/volist}

            </div>
        </div>
        <div class="contact">
            <p style="width: 61px;float: left;height: 300px;">全国分所：</p>
            <ul style="width: 597px;">
                <li>广东国晖(广州)律师事务所</li>
                <li>广东国晖(深圳)律师事务所</li>
                <li>广东国晖(北京)律师事务所</li>
                <li>广东国晖(杭州)律师事务所</li>
                <li>广东国晖(上海)律师事务所</li>
                <li>广东国晖(天津)律师事务所</li>
                <li>广东国晖(佛山)律师事务所</li>
                <li>广东国晖(长沙)律师事务所</li>
                <li>广东国晖(江门)律师事务所</li>
                <li>广东国晖(前海)律师事务所</li>
                <li>广东国晖(龙岗)律师事务所</li>
                <li>广东国晖(龙华)律师事务所</li>
                <li>广东国晖(合肥)律师事务所</li>
                <li>广东国晖(坪山)律师事务所</li>
                <li>广东国晖(哈尔滨)律师事务所</li>
            </ul>
        </div>


        <div class="bon">
            <a class="a-1" onclick="xinlang('标题','file:///D:/code/www.king-capital.com/upload/image/20150813/20150813145920_5000.jpg')" href="javascript:;"></a>
            <a class="a-2" onclick="tengx('标题','file:///D:/code/www.king-capital.com/upload/image/20150813/20150813145920_5000.jpg')" href="javascript:;"></a>
            <a class="a-3" onclick="qqkongjian('标题','file:///D:/code/www.king-capital.com/upload/image/20150813/20150813145920_5000.jpg')" href="javascript:;" data-qrcode="__INDEX__/upload/erweima_27.jpg"></a>
        </div>


        <div class="erweima">
            <a href="javascript:;" class="wx">
                <img width="88" height="88" onerror="lod(this)" data-qrcode="__INDEX__/upload/erweima_27.jpg"
                     src="__INDEX__/upload/image/20150601/20150601172353_2656.jpg">
            </a>
        </div>
    </div>
</footer>
</body>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ef017b0d5e81cc4f0e7373eafc15dfc2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276685431'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1276685431%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</html>